@import '../../../styles/variables.css';

#get-started {
  .selected {
    background-color: $primary;
    color: #fff;
  }
  .label {
    text-align: left;
  }
  div {
    border: 3 px solid $red-color;
  }
  border: 3px solid $primary;
}

.hidden {
  display: none;
}
