@import '../../../styles/variables.css';

#criteria {
  h1 {
    font-size: 2rem;
    margin: 2rem;
  }
}

#get-started {
  h4 {
    margin-bottom: 1rem;
  }
  div:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 1rem;
  margin: 0;
  }
  input {
    margin: 0 1rem 0 0;
    width: 8rem;
  }
  .selected {
    background-color: $primary;
    color: #fff;
  }
  .label {
    text-align: left;
  }
  width: 100vw;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: white;
}

.hidden {
  display: none;
}

.control {
  margin: 0;
}

.age-input {
  width: 4rem;
  font-size: 1rem;
  height: 2.5rem;
  padding-left: 0.5rem;
}

.submit-btn {
  margin-top: 2rem;
  text-align: right;
}

#gender {
  input:last-child {
    margin-top: 1rem;
  }
}

/* media queries for devices larger than mobile phone in portrait mode */
@media screen and (min-width: 449px){
  #gender {
    input:last-child {
      margin-top: 0;
    }
  }
}
