@import '../../../../node_modules/bulma/css/bulma.css';
@import '../../../styles/variables.css';

.center {
  text-align: center;
}

.page-header {
  font-size: 30px;
  margin: 80px auto 15px auto;
}

.login-signup-form-main {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
}

.control {
  margin: 0;
}

.login-signup-input {
  height: 40px;
}

.login-signup-button {
  width: 100%;
  height: 40px;
  margin: 25px auto 10px auto;
  background-color: $primary !important;
}

.forgot-password {
  text-decoration: underline;
}

.label {
  text-align: left;
}

#seeking {
  h4 {
    margin-bottom: 1rem;
  }
  div:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 1rem;
  margin: 0;
  }
  input {
    margin: 0 1rem 0 0;
    width: 8rem;
  }
  .selected {
    background-color: $primary;
    color: #fff;
  }
  .label {
    text-align: left;
  }
  margin: 0 auto 1.2em auto;
}

.is-info {
  background-color: $primary !important;
  color: #fff;
}
