@import '../../../node_modules/bulma/css/bulma.css';
@import '../../styles/variables.css';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background: #fff;
  height: 64px;
  box-shadow: 0 4px 10px rgba(0,0,0, 0.1);
  z-index: 1000;
  max-width: 100vw;
  .button {
    border: none;
    background: none;
  }
}

.drawer {
  height: calc(100% - 64px);
  width: 200px;
  position: fixed;
  top: 64px;
  right: 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  z-index: 900;
  box-shadow: -2px 0 4px rgba(0,0,0, 0.1);
  a {
    height: 64px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    border-bottom: 1px solid $border-color
  }
}

.example-enter {
  transform: translateX(100%);
}

.example-enter.example-enter-active {
  transform: translateX(0);
  transition: transform 300ms ease-in;
}

.example-leave {
  transform: translateX(0);
}

.example-leave.example-leave-active {
  transform: translateX(100%);
  transition: transform 200ms ease-in;
}

.main-container {
  position: relative;
  top: 64px;
}
