@import '../../../node_modules/bulma/css/bulma.css';
@import '../../styles/variables.css';

@font-face {font-family: 'PNSoft';
    src: url("//db.onlinewebfonts.com/t/7ad138835c0cf9f05a9f0ab343247612.eot");
    src: url("//db.onlinewebfonts.com/t/7ad138835c0cf9f05a9f0ab343247612.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/7ad138835c0cf9f05a9f0ab343247612.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/7ad138835c0cf9f05a9f0ab343247612.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/7ad138835c0cf9f05a9f0ab343247612.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/7ad138835c0cf9f05a9f0ab343247612.svg#ProximaNovaSoftW03-Bold") format("svg");
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background: #fff;
  height: 64px;
  box-shadow: 0 4px 10px rgba(0,0,0, 0.1);
  z-index: 1000;
  max-width: 100vw;
  .nav-title {
    font-family: PNSoft;
    font-size: 1.75rem;
    color: $primary-color;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
  }
  .button {
    border: none;
    background: none;
    i {
      color: $primary-color;
    }
    .close {
      color: #555;
    }
  }
}

.drawer {
  height: calc(100% - 64px);
  width: 200px;
  position: fixed;
  top: 64px;
  right: 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  z-index: 900;
  box-shadow: -2px 0 4px rgba(0,0,0, 0.1);
  a {
    height: 64px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    border-bottom: 1px solid $border-color
  }
}

.example-enter {
  transform: translateX(100%);
}

.example-enter.example-enter-active {
  transform: translateX(0);
  transition: transform 300ms ease-in;
}

.example-leave {
  transform: translateX(0);
}

.example-leave.example-leave-active {
  transform: translateX(100%);
  transition: transform 200ms ease-in;
}

.main-container {
  position: relative;
  top: 64px;
}
