@import '../../../styles/variables.css';

.room-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  .slider {
    width: 100%;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    .room-image {
      height: 350px;
      width: 100%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .content {
    width: 100%;
    .title {
      padding: 0 32px;
      margin-top: 32px;
    }
    .description {
      padding: 0 32px;
      margin-bottom: 32px;
    }
    .info-list {
      list-style: none;
      background: #fff;
      width: 100%;
      padding: 0 32px;
      margin: 0;
      .info-item {
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        border-bottom: 1px solid $border-color;
        h4 {
          padding: 0;
          margin: 0;
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

.profile {
  width: 100%;
}


@media (max-width: 480px) {
  .room-page {
    .slider {
      .room-image {
        background-size: cover;
      }
    }
  }
}
