@import '../../../styles/variables.css';

.chat-container {
  border-radius: 8px;
  position: fixed;
  right: 0;
  bottom: calc(64px + 24px + 24px);
  background: #fff;
  box-shadow: 0 2px 2px rgba(0,0,0,0.26), 0 0 4px rgba(0,0,0,0.18);
  width: calc(100% - 48px);
  max-width: 400px;
  height: calc(100% - 256px);
  margin: 0px 24px;
  &::after {
    content: '';
    position: absolute;
    bottom: -16px;
    right: 16px;
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid #fff;
  }
  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 29px;
    transform: rotate(45deg);
    bottom: -9px;
    right: 17px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.26), 0 2px 4px rgba(0,0,0,0.18);
  }
  header {
    display: flex;
    align-items: center;
    background: $primary-color;
    color: #fff;
    padding: 16px 0;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    box-shadow: 0px 2px 2px rgba( 0, 0, 0, .25 );
    z-index: 1;
    .profile-pic {
      border-radius: 50%;
      height: 72px;
      width: 72px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin: 0 16px;
    }
    .name {
      margin: 0;
      padding: 0;
    }
  }
  .messages {
    z-index: 0;
    height: 100%;
    max-height: calc(100vh - 256px - 104px - 64px);
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    .message {
      background-color: #F2F2F2;
      border-radius: 5px;
      box-shadow: 0 0 6px #B2B2B2;
      padding: 10px 18px;
      box-shadow: 0px 2px 2px rgba( 0, 0, 0, .25 ), 0 0 4px rgba(0,0,0,0.18);
    }
    .sender {
      align-self: flex-end;
    }
    .receiver {
      align-self: flex-start;
    }
  }
  .message-field {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    border-top: 1px solid $border-color;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 64px;
    padding-left: 24px;
    font-size: 1.2rem;
  }
}
